In [4]:
matrix=[[i for i in range (32) if i%2 !=0] for j in range(16)]
matrix

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [9]:
matrix=[]
for i in range (16):
    matrix.append([])
    for j in range (16):
        matrix[i].append(j)
matrix

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [11]:
fruits=["apple","mango","orange","kiwi"]
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'mango', 'orange']

In [12]:
fruits=["apple","banana","cherry"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana']

In [20]:
tuple1=[1,[2,3,4],(6,7)]
tuple1[1].append(5)
tuple1

[1, [2, 3, 4, 5], (6, 7)]

In [23]:
import sys
a_list=list()
a_tuple=tuple()
a_list=[1,2,3,4,5]
a_tuple=(1,2,3,4,5)
print(sys.getsizeof(a_list),"bytes")
print(sys.getsizeof(a_tuple),"bytes")

104 bytes
80 bytes

In [29]:
people={1,2,3,4}
print(people)

people.add("py")
print(people)

{1, 2, 3, 4}
{1, 2, 3, 4, 'py'}

In [31]:
people={'a','b','c','d'}
vampaires={'x','y'}
dracula={'l','k'}
population=people.union(vampaires)
print("union using union()functions")
print(population)
population=people|dracula
print("\nunion using '|'operator")
print(population)

union using union()functions
{'a', 'c', 'y', 'b', 'x', 'd'}

union using '|'operator
{'a', 'l', 'c', 'k', 'b', 'd'}

In [35]:
set1=set()
set2=set()
for i in range(6):
    set1.add(i)
for i in range (3,9):
    set2.add(i)
set3=set1.intersection(set2)
print("intersection using intersection()functions")
print(set3)
set3=set1&set2
print("\nintersection using '&' operater")
print(set3)

intersection using intersection()functions
{3, 4, 5}

intersection using '&' operater
{3, 4, 5}

In [36]:
set1=set()
set2=set()
for i in range(6):
    set1.add(i)
for i in range (3,9):
    set2.add(i)
set3=set1.intersection(set2)
print("difference of two sets using difference()functions")
print(set3)
set3=set1&set2
print("\ndifference of two sets using'-'opertor")
print(set3)

difference of two sets using difference()functions
{3, 4, 5}

difference of two sets using'-'opertor
{3, 4, 5}

In [ ]:
set1={1,2,3}
print("initial set")
print(set1)
set1.clear()
print("\nset o")

In [1]:
Class_A={1,2,3,4,4,5,6,7,8}
Class_B={2,5,8,1,3,5,8,9,0}
Class_C={1,0,4,3,2,1,8,7,5}
set1=Class_A.intersection(Class_B)
total=set1.intersection(Class_C)
print(total)

print("Using '&' Operator")
set1=Class_A & Class_B
total=set1 & Class_C
print(total)

{1, 2, 3, 5, 8}
Using '&' Operator
{1, 2, 3, 5, 8}

In [4]:
d={"programing":{1:"py",2:"c",3:"c++",4:"java"},0:"zero value"}

print(d["programing"][4])

java

In [6]:
d={}
for i in range (10):
    d[i]=i*i
d[10]={"numbers":{1,2,3,4,5,6,7,8}}
d.update({5:"hi"})
d

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'hi',
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: {'numbers': {1, 2, 3, 4, 5, 6, 7, 8}}}

In [12]:
d={"programming":"python",0:"zero value","a":"b"}
j=0
for i in d:
    if j == 2:
        print(i)
    j=j+1

a