In [18]:
names=['a','b','c','d','e']
grades=[1,4,5,6,7]



#1st code writing
fd = open(r"a.txt","w")
for i in range(5):
    record= names[i]+str (" ") + str(grades[i]+str("\n"))
    val=fd.write(record)
fd.close()


#2nd code reading
fd = open(r"a.txt","r")
file_data=fd.readlines()
print(file_data)
fd.close()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
print("value:%2d,portal:%5.2f" %(1,05.333))

print("totle students:%3d,boys:%2d"%(240,120))
print("%7.3o"%(25))
print("%10.3e"%(356.08977))

value: 1,portal: 5.33
totle students:240,boys:120
    031
 3.561e+02

In [5]:
print("value:%2d is int and %5.2f"%(11250,30.569))

value:11250 is int and 30.57

In [6]:
a=10
b=20
sum=a+b
print("sum of ",a,"and",b,"is",sum)
print("sum of %2d and %2.1f is %2.2f"%(a,b,sum))

sum of  10 and 20 is 30
sum of 10 and 20.0 is 30.00

In [1]:
file_object=open("a.txt","w")
print(file_object.write("hi there"))

file_object.close()

8

In [3]:
import csv

field =['Name','Branch','Year','CGPA']
rows=[['Akash','CS','Final Year',8.0],
      ['Ankitha','CS','Final Year',8.5],
      ['Chandru','CS','Final Year',7.0],
      ['Arvind','CS','Final Year',9.0],
      ['Lokesh','CS','Final Year',8.0],
      ['Kiran','CS','Final Year',8.5],
      ['Umar','CS','Final Year',7.0],
      ['Nikhil','Mech','Final Year',8.5],
      ['Sangmesh','Mech','Final Year',8.5],
      ['Ragu','CS','Final Year',9.0]
]

filename='keonics.csv'

with open(filename,'w') as csvfile:
    writer_object= csv.writer(csvfile)
    writer_object.writerow(field)
    writer_object.writerows(rows)


with open(filename,'r') as csvfile:
      data=csv.reader(csvfile)
      for line in data:
            print(line)

['Name', 'Branch', 'Year', 'CGPA']
[]
['Akash', 'CS', 'Final Year', '8.0']
[]
['Ankitha', 'CS', 'Final Year', '8.5']
[]
['Chandru', 'CS', 'Final Year', '7.0']
[]
['Arvind', 'CS', 'Final Year', '9.0']
[]
['Lokesh', 'CS', 'Final Year', '8.0']
[]
['Kiran', 'CS', 'Final Year', '8.5']
[]
['Umar', 'CS', 'Final Year', '7.0']
[]
['Nikhil', 'Mech', 'Final Year', '8.5']
[]
['Sangmesh', 'Mech', 'Final Year', '8.5']
[]
['Ragu', 'CS', 'Final Year', '9.0']
[]

In [19]:
import csv


with open("C:/Users/lenovo/OneDrive/Desktop/Travel details dataset.csv","r") as file_object:

    data_table = csv.reader(file_object) 
    
    for line in data_table:   
        
        
        print(line[1])

Destination
London, UK
Phuket, Thailand
Bali, Indonesia
New York, USA
Tokyo, Japan
Paris, France
Sydney, Australia
Rio de Janeiro, Brazil
Amsterdam, Netherlands
Dubai, United Arab Emirates
Cancun, Mexico
Barcelona, Spain
Honolulu, Hawaii
Berlin, Germany
Marrakech, Morocco
Edinburgh, Scotland
Paris
Bali
London
Tokyo
New York
Sydney
Rome
Bangkok
Paris
Hawaii
Barcelona
Japan
Thailand
France
Australia
Brazil
Greece
Egypt
Mexico
Italy
Spain
Canada
Paris, France
Sydney, Australia
Tokyo, Japan
Cancun, Mexico
Rio de Janeiro, Brazil
London, UK
Barcelona, Spain
New York City, USA
Bangkok, Thailand
Vancouver, Canada
Amsterdam, Netherlands
Paris, France
Tokyo, Japan
Sydney, AUS
New York, USA
Rio de Janeiro, Brazil
Bangkok, Thailand
London, UK
Barcelona, Spain
Seoul, South Korea
Los Angeles, USA
Rome, Italy
Paris
Tokyo
Cape Town
Sydney
Barcelona
Bali
Paris
New York
Bangkok
Rome
Bali

Bali, Indonesia
Tokyo, Japan
Cancun, Mexico
Paris, France
Cape Town, SA
Bali, Indonesia
Sydney, Aus
Bangkok, Thai
New York, USA
Phuket, Thai
Rome, Italy
Paris
Tokyo
Bali
Sydney
New York
London
Dubai
Bangkok
Rome
Bali
Seoul
Paris
Tokyo
Sydney
London
New York
Rome
Bangkok
Cape Town
Rio de Janeiro
Bali
Amsterdam
Paris
Tokyo
New York
Bali
Sydney
London
Phuket
Rome
Santorini
Dubai
Phnom Penh
Tokyo, Japan
Paris, France
Sydney, Aus
Rome, Italy
Bali, Indonesia
Cancun, Mexico
Athens, Greece
Tokyo, Japan
Sydney, Aus
Paris, France
Bali, Indonesia

Paris, France
Tokyo, Japan
Cape Town, South Africa
Sydney, Australia
Rome, Italy
New York City, USA
Rio de Janeiro, Brazil
Vancouver, Canada
Bangkok, Thailand
Barcelona, Spain
Auckland, New Zealand

In [13]:
class bulb:
    #Attributes
    ON = False
    OFF = False

    def __init__(self,status1,status2):
        self.ON=status1
        self.OFF=status2

    #methods
    def status(self):
        print("ON:",self.ON) 
        print("OFF:",self.OFF)
    def switch(self):
        if self.ON==True:
            print("bulb is ON")   
        else:
            print("bulb is OFF")       

obj = bulb(True,False)
obj.status()
obj.switch()


obj = bulb(False,True)
obj.status()
obj.switch()

ON: True
OFF: False
bulb is ON
ON: False
OFF: True
bulb is OFF

In [15]:
class car:
    wheels=4
    seatingcapacity=""
    nameofthecar=""
    carmodel=""
    fueltype=""
    cc=""
    def __init__(self,wheels,seatingcapacity,nameofthecar,carmodel,fueltype,cc):
        self.wheels=wheels
        self.seatingcapacity=seatingcapacity
        self.nameofthecar=nameofthecar
        self.carmodel=carmodel
        self.fueltype=fueltype
        self.cc=cc
    def cardeatils(self):
        print("cardeatils:",self.wheels,self.seatingcapacity,self.nameofthecar,self.carmodel,self.fueltype,self.cc)
obj=car(5,"maruti","800","petrol","800")
obj.cardeatils()

TypeError: car.__init__() missing 1 required positional argument: 'cc'